/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}


.container{
  padding: 15px;
  max-width: 1000px;
  margin:auto;
}

 .navigation{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color:black;
   background-color: whitesmoke;


   .nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;


    .link-item{
      padding: 10px;
      margin: 10px;
      text-decoration: none;

      

    }
    
   }

   .logo{
     padding: 10px;
   }


 }